@page "/counter"

<PageTitle>services</PageTitle>


<h1>Nuestros Servicios</h1>

<ul>
    <li>Préstamos personales</li>
    <li>Cuentas de ahorro</li>
    <li>Tarjetas de crédito</li>
    <!-- Agregar más servicios según sea necesario -->
</ul>
